/* colors */
:root {
    --element-color: black;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
ul, li, h1 {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.element {
    /* color: white; */
}

/* ---- header ---- */
header {
    background-image: url('images/hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
/* -- mobile buttons -- */
.mobile-button {
    display: none;
}
.mobile-button ~ #close-button {
    display: none;
}


@media(max-width: 900px) {
    header {
        background-image: none;
        background-color: black;
        color: white;
    }
}


@media(max-width: 650px) {
    /* ---- header ---- */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #mobile-dropdown-menu-container {
        display: none;
    }
    #mobile-dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* -- mobile buttons -- */
    .mobile-button {
        display: block;
    }
}