/* colors */
:root {
    --element-color: black;
}
ul, li, h1 {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}


body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}


/* ---- global ---- */
.heading {
    text-transform: uppercase;
}
.heading-xl {
    font-size: 4em;
}
.heading-large {
    font-size: 2em;
}
.heading-small {
    font-size: 1.5em;
}
.button-img {
    background: none;
    border: none;
}
.main-button {
    background: none;
    border: solid 2px white;
    color: white;
}
.center-text {
    text-align: center;
}


/* ---- header ---- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* background-color: var(--element-color); */
    background-image: url("images/hero.jpg");
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;

    height: 90vh;
    color: white;
}
.header-top-container {
    display: flex;
    align-items: center;

    padding: 35px;
    width: 100%;
    box-sizing: border-box;

}
#mobile-control-container {
    margin-right: auto;
}
#dropdown-menu {
    display: flex;
}
.nav-link {
    margin-right: 20px;
}
.nav-link-last {
    margin-right: 0;
}
.see-more-button {
    padding: 17px 75px;
    margin-bottom: 35px;
}
header h2 {
    text-align: center;
}


/* ---- categories ---- */
.row-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}
.category-item {
    max-width: 360px;
}
.category-item img {
    width: 100%;
}
.category-item-p {
    width: 100%;
}










@media(max-width: 1200px) {
    /* ---- categories ---- */
    .category-item {
        width: 280px;
    }
}


@media(max-width: 950px) {
    #shop-categories-container {
        flex-direction: column;
    }
}



@media(min-width: 650px) {
    /* -- mobile buttons -- */
    .mobile-button {
        display: none;
    }
}

@media(max-width: 650px) {
     /* ---- header ---- */
     header {
        background-image: none;
        background-color: black;
        height: initial;
    }
    .heading {
        font-size: 1.3em;
    }
    .header-top-container {
        flex-direction: column;
    }
    #mobile-control-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-right: 0;
        width: 100%;
    }
    .mobile-menu-closed #dropdown-menu-container {
        display: none;
    }
    #dropdown-menu {
        flex-direction: column;

        margin-top: 20px;
    }
    .nav-link {
        /* font-size: 2em; */
        text-align: center;
        margin-right: 0;
    }
    .header-bottom-item {
        display: none;
    }
    /* -- mobile buttons -- */
    /* close button */
    .mobile-menu-closed #close-button {
        display: none;
    }
    .mobile-menu-opened #close-button {
        display: initial;
    }
    /* open button */
    .mobile-menu-closed #open-button {
        display: initial;
    }
    .mobile-menu-opened #open-button {
        display: none;
    }

}